<div class="">
  <div style="height:100vh;">
    <div class="">
      <div class="shadow w-20 p-5 position-absolute top-50 start-50 translate-middle">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <h4 class="display-6 text-center py-2">User Database</h4>
          
          <div class="">
            <label for="username">Username</label>
            <div class="">
              <input id="username" required #username="ngModel" ngModel name="username" type="text"
                class="form-control" placeholder="Enter your username">
              <div *ngIf="username.invalid && username.touched">
                <small class="text-danger" *ngIf="username.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          
          <div class="">
            <label for="address">Address</label>
            <div class="">
              <input id="address" required #address="ngModel" ngModel name="address" type="text"
                class="form-control" placeholder="Enter your address">
              <div *ngIf="address.invalid && address.touched">
                <small class="text-danger" *ngIf="address.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          
          <div class="">
            <label for="email">Email</label>
            <div class="">
              <input id="email" required #email="ngModel" ngModel name="email" type="email"
                class="form-control" placeholder="Enter your email">
              <div *ngIf="email.invalid && email.touched">
                <small class="text-danger" *ngIf="email.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          
          <div class="">
            <label for="password">Password</label>
            <div class="">
              <input id="password" required #password="ngModel" ngModel name="password" type="password"
                class="form-control" placeholder="Enter your password">
              <div *ngIf="password.invalid && password.touched">
                <small class="text-danger" *ngIf="password.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          
          <div class="">
            <label for="salary">Salary</label>
            <div class="">
              <input id="salary" required #salary="ngModel" ngModel name="salary" type="number"
                class="form-control" placeholder="Enter your salary">
              <div *ngIf="salary.invalid && salary.touched">
                <small class="text-danger" *ngIf="salary.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
  
          <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div><br>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Address</th>
          <th>Email</th>
          <th>Salary</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userDetails">
          <td>{{user.userid}}</td>
          <td>{{user.username}}</td>
          <td>{{user.address}}</td>
          <td>{{user.email}}</td>
          <td>{{user.salary}}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(user)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateUser()">
            <h4 class="display-6 text-center py-2">Update User</h4>
            
            <div class="">
              <label for="username">Username</label>
              <div class="">
                <input id="username" required #username="ngModel" [(ngModel)]="userToUpdate.username" name="username" type="text"
                  class="form-control" placeholder="Enter your username">
                <div *ngIf="username.invalid && username.touched">
                  <small class="text-danger" *ngIf="username.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            
            <div class="">
              <label for="address">Address</label>
              <div class="">
                <input id="address" required #address="ngModel" [(ngModel)]="userToUpdate.address" name="address" type="text"
                  class="form-control" placeholder="Enter your address">
                <div *ngIf="address.invalid && address.touched">
                  <small class="text-danger" *ngIf="address.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            
            <div class="">
              <label for="email">Email</label>
              <div class="">
                <input id="email" required #email="ngModel" [(ngModel)]="userToUpdate.email" name="email" type="email"
                  class="form-control" placeholder="Enter your email">
                <div *ngIf="email.invalid && email.touched">
                  <small class="text-danger" *ngIf="email.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            
            <div class="">
              <label for="password">Password</label>
              <div class="">
                <input id="password" required #password="ngModel" [(ngModel)]="userToUpdate.password" name="password" type="password"
                  class="form-control" placeholder="Enter your password">
                <div *ngIf="password.invalid && password.touched">
                  <small class="text-danger" *ngIf="password.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            
            <div class="">
              <label for="salary">Salary</label>
              <div class="">
                <input id="salary" required #salary="ngModel" [(ngModel)]="userToUpdate.salary" name="salary" type="number"
                  class="form-control" placeholder="Enter your salary">
                <div *ngIf="salary.invalid && salary.touched">
                  <small class="text-danger" *ngIf="salary.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
       
            <div class="form-group text-center">
              <input class="btn btn-primary" type="submit" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
